<br>
<div class='container'>
        <table style='border: solid black; 2px'>
             <tr><td>Student Name: Nighat Parvin</td></tr>
             <tr><td>Student ID: SEIP_155644</td></tr>
        </table>
        <br>
        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>48</td>
                <td>D</td>
             </tr>

              <tr>
                <td>English</td>
                <td>96</td>
                <td>A+</td>
             </tr>

              <tr>
                <td>Math</td>
                <td>78</td>
                <td>A-</td>
             </tr>
        </table>
</div>
<br><br>
<div class='container'>
        <table style='border: solid black; 2px'>
             <tr><td>Student Name: Shamiha Binty Shamim</td></tr>
             <tr><td>Student ID: SEIP_458799</td></tr>
        </table>
        <br>
        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>89</td>
                <td>A</td>
             </tr>

              <tr>
                <td>English</td>
                <td>97</td>
                <td>A+</td>
             </tr>

              <tr>
                <td>Math</td>
                <td>84</td>
                <td>A</td>
             </tr>
        </table>
</div>
<br>